# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
**/venv/
**/env/
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
.Python
.env
/.venv

# ML/Models
*.pkl
*.h5
*.onnx
*.pb
**/models/
**/model/
data/*.csv

# Local/Duplicate
/MIT_WPU_1321/

# OS
Thumbs.db
.DS_Store
